:root {
    --main-red: #A60509;
}

/*YekanBakhBold*/
@font-face {
    font-family: YekanBakhBold;
    src: url(../fonts/IranYekan/YekanBakhBold.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhBold.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhBold.ttf) format("ttf")
}

/*YekanBakhLight*/
@font-face {
    font-family: YekanBakhLight;
    src: url(../fonts/IranYekan/YekanBakhLight.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhLight.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhLight.ttf) format("ttf")
}

/*YekanBakhMedium*/
@font-face {
    font-family: YekanBakhMedium;
    src: url(../fonts/IranYekan/YekanBakhMedium.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhMedium.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhMedium.ttf) format("ttf")
}

/*YekanBakhRegular*/
@font-face {
    font-family: YekanBakhRegular;
    src: url(../fonts/IranYekan/YekanBakhRegular.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhRegular.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhRegular.ttf) format("ttf")
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px !important;
    font-family: iranyekan !important;
    overflow-x: hidden;
    text-align: right;
    direction: rtl;
    width: 100vw;
}

p {
    line-height: 4.5vh
}

body, html {
    height: 100%;
    margin: 0;
    font-family: iranyekan !important
}

a {
    text-decoration: none !important
}

input:focus, button:focus, textarea:focus {
    outline: none !important
}
