:root {
    --custom-gray: #F4F5F7;
    --custom-orange: #E89F71;
    --custom-Brown: #4D3D24;
    --light-orange: #FCF8F3;
    --dark-blue: #333333;
}

/*YekanBakhBold*/
@font-face {
    font-family: iranYekanBold;
    src: url(../fonts/IranYekan/YekanBakhBold.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhBold.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhBold.ttf) format("ttf")
}

/*YekanBakhLight*/
@font-face {
    font-family: iranYekanLight;
    src: url(../fonts/IranYekan/YekanBakhLight.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhLight.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhLight.ttf) format("ttf")
}

/*YekanBakhMedium*/
@font-face {
    font-family: iranYekanMedium;
    src: url(../fonts/IranYekan/YekanBakhMedium.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhMedium.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhMedium.ttf) format("ttf")
}

/*YekanBakhRegular*/
@font-face {
    font-family: iranYekan;
    src: url(../fonts/IranYekan/YekanBakhRegular.eot) format("eot"),
    url(../fonts/IranYekan/YekanBakhRegular.woff) format("woff"),
    url(../fonts/IranYekan/YekanBakhRegular.ttf) format("ttf")
}


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: iranYekan;
    overflow-x: hidden;
    direction: rtl;
}

a {
    text-decoration: none !important;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #273043;
}

form {
    margin-block-end: 0;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--custom-orange);
    border-radius: 5px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style-type: none;
    padding-right: 0;
}

button, a {
    transition: all 0.3s linear;
}

/*index*/
.dv-three-dot-for-description {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dv-title-product {
    font-size: 30px;
    line-height: 36px;
    color: var(--custom-Brown);
    font-family: iranYekanMedium;
    margin-bottom: 10px;
}

.dv-index-card {
    border: none;
    position: relative;
    margin-bottom: 32px;
    height: 450px;
}

.div-product-model {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #333333;
}

.dv-comfort-sofa {
    font-size: 14px;
    line-height: 21px;
    color: #626262;
}

.discounted-price {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #333333;
}

.original-price {
    font-size: 16px;
    line-height: 21px;
    color: #626262;
}

.dv-body-card {
    background-color: var(--custom-gray);
}

.dv-low-discount-percentage, .dv-with-higher-discount-percentage {
    position: absolute;
    color: #FFFFFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 21px;

}

.dv-low-discount-percentage {
    background-color: var(--custom-orange);
}

.dv-with-higher-discount-percentage {
    background-color: #1A1A2D;
}

.dv-index-card:hover .dv-hover-card {
    display: block;
}

.dv-index-card:hover .dv-low-discount-percentage, .dv-index-card:hover .dv-with-higher-discount-percentage {
    display: none;
}

.dv-hover-card {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(58, 58, 58, .72);
}

.dv-btn-show-product {
    background-color: #FFFFFF;
    color: var(--custom-orange);
    width: 202px;
    padding: 15px 25px;
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all .3s inherit;
}

.dv-btn-show-product:hover {
    opacity: .9;
    color: var(--custom-orange);

}

.dv-icon-card {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dv-icon-card .icon-heart:hover:before {
    color: #ec6161;
}

.dv-icon-card .icon-share:hover:before {
    color: #5fa6ea;
}


.dv-img-card-product {
    height: 70%;
}

.dv-view-all-products a{
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    padding: 13px 35px;
    color: var(--custom-Brown);
    border: 1px solid var(--custom-Brown);
    transition: all .3s linear;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dv-view-all-products a:hover {
    background-color: var(--custom-orange);
    border-color: var(--custom-orange);
    color: #fff;
    opacity: 1;
}

#bestSellingpRoducts {
    background-color: #F9F1E7;
}

.dv-tab-best-selling-products {
    margin: 42px 0 0 0;
    background-color: #F2E6D7;
    width: fit-content;
    border-radius: 44px;
    padding-right: inherit;
}

.dv-tab-best-selling-products .nav-link {
    margin: 6px;
    background-color: #F2E6D7;
    color: #1E1E1E;
    border-radius: 32px;
    padding: 0 17px;
    font-size: 18px;
    line-height: 33px;
}

.dv-tab-best-selling-products .nav-link.active {
    background-color: #FFFFFF;
    color: #1E1E1E;
}

.dv-product-type {
    color: #8D8D8D;
    font-size: 16px;
    line-height: 22px;
}

.dv-slider-best-selling-products .swiper-slide {
    border-radius: 0 0 20px 20px;
}

.dv-slider-best-selling-products .card {
    border: none;
}

.dv-img-best-selling-products img {
    margin-top: -50px;
}

.dv-img-best-selling-products {
    width: auto;
    height: 289px;
    background-color: var(--custom-gray);
}

.dv-slider-best-selling-products {
    padding-top: 65px;
}

.dv-model-best-selling-products {
    font-size: 21px;
    line-height: 28px;
    color: #0D1B39;
}

.best-selling-products {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-family: iranYekanMedium;
}

.dv-add-product {
    width: 48px;
    height: 48px;
    background-color: #0D1B39;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv-show-all-product {
    padding: 60px 0 30px 0;
}

.dv-text-all-product {
    color: #E58411;
    font-size: 18px;
    line-height: 33px;
}

.dv-hover-card-news-product:hover .card-body {
    transition: .4s;
    box-shadow: 0 0 40px -30px rgba(0, 0, 0, 1);
}

.dv-news {
    color: #3A3A3A;
    font-size: 30px;
    line-height: 36px;
    padding: 59px 0 51px 0;
}

.dv-p-slider-news-products {
    font-size: 18px;
    line-height: 27px;
    color: #3A3A3A;
}

.dv-date-news-card {
    font-size: 14px;
    line-height: 21px;
    color: #898989;
}

.dv-slider-news-products .card {
    border: none;
    padding: 10px;
}


.dv-text-Shared-photos {
    font-size: 20px;
    line-height: 30px;
    color: #616161;
    padding-top: 40px;
}


/*STYLE  PRODUCT*/
.product_slider {
    background-color: #FCF8F3;
}

.dv-model-title-product {
    font-size: 24px;
    line-height: 28px;
    color: #3A3A3A;
    font-family: iranYekanMedium;
}

.dv-general-explanation {
    font-size: 16px;
    line-height: 24px;
    color: #898989;
    font-family: iranYekanMedium;
}

.dv-product-rating {
    font-size: 16px;
    line-height: 24px;
    color: var(--custom-Brown);
}

.dv-product-color-selection {
    font-size: 20px;
    line-height: 27px;
    color: #131212;
    font-family: iranYekanBold;
}

.dv-share-product span:before {
    font-size: 1.3em
}

.dv-icon-lin-share:hover:before {
    color: #0A66C2;
}

.dv-icon-fac-share:hover:before {
    color: #1877F2;
}

.dv-icon-tw-share:hover:before {
    color: #1DA1F2;
}


/*style-property*/
.dv-section-property {
    padding: 100px 0 100px 0;
    position: relative;
}

.dv-Property {
    margin-bottom: 1em;
}

.dv-icon-Property {
    font-size: 40px;
}

.dv-h-Property {
    color: var(--custom-Brown);
    font-size: 18px;
    line-height: 30px;
}

.dv-span-Property {
    color: #A8A8A8;
    font-size: 14px;
    line-height: 30px;
}

.dv-Property h3 {
    margin-bottom: 0 !important;
}

/*cart*/
.dv-product {
    color: #8A8FB9;
    font-size: 14px;
    line-height: 19px;
}


.dv-Product-filters {
    background-color: var(--custom-orange);
    color: #fff !important;
    width: 200px;
    height: 60px;
}

.dv-product-archive {
    background-color: #FCF8F3;
    padding: 125px 0 80px 0;
}

.dv-Circle-Purple, .dv-Circle-pink, .dv-Circle-orange {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
}

.dv-Circle-Purple {
    background-color: #8568FF;
}

.dv-Circle-pink {
    background-color: #EC42A2;
}

.dv-Circle-orange {
    background-color: #DE9034;
}

.dv-image-cart {
    background-color: var(--custom-gray);
    display: flex;
    justify-content: center;
    padding: 50px 39px 29px 30px;
}

.dv-image-cart img {
    width: 201px;
    height: 201px;
}

.dv-card-cart {
    border: none;
    transition: all 0.3s linear;
}

.dv-card-title {
    color: #151875;
    font-size: 18px;
    line-height: 24px;
    font-family: iranYekanBold;
}

.dv-original-price {
    color: var(--custom-orange);
    font-size: 16px;
    line-height: 21px;
}

.dv-discounted-price {
    font-size: 20px;
    line-height: 21px;
    color: #333333;
    font-family: iranYekanMedium;
}

.discounted-price {
    font-size: 14px;
    line-height: 19px;
    color: #212121;
}

.dv-cart-section {
    position: absolute;
    margin-bottom: 10px;
}


/*select color*/
.dv-select-color-product input[type=radio] {
    display: none;
}

.dv-select-color-product input[type=radio]:checked + label span {
    transform: scale(1.25);
}

.dv-select-color-product input[type=radio] + label {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dv-select-color-product input[type=radio]:checked + label * {
    padding: 10px;
    border: 4px solid #FFFFFF;
    outline: 2px solid #E89F71;
    border-radius: 50%;
}

.dv-select-color-product input[type=radio] + label * {
    border-radius: 50%;
}

.dv-select-color-product label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.dv-select-color-product {
    margin-right: -15px !important;
}

.dv-select-color-product label:hover span {
    transform: scale(1.2);
}

.dv-select-color-product label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

label span.dv-lightBrown {
    background: #B6A179;
}

label span.dv-block {
    background: #272425;
}

label span.dv-blue {
    background: #6389CB;
}

label span.dv-yellow {
    background: #F2C758;
}

label span.dv-gray {
    background: #F1F0F0;
}

/**/
.dv-interest {
    padding: 18px;
    background-color: #E89F71;
    border-radius: 5px;
    transition: all .3s inherit;
}

.dv-add-to-cart {
    padding: 12px 30px;
    background-color: #E89F71;
    border-radius: 5px;
    transition: all .3s inherit;
}

.dv-text-add-to-card {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    font-family: iranYekanLight;
}

.dv-add-to-cart .icon-Icon---Cart:before {
    color: #FFFFFF;
}

.dv-interest:hover, .dv-add-to-cart:hover {
    opacity: .8;
}

.dv-text-share {
    font-size: 18px;
    line-height: 24px;
    color: #3A3A3A;
}

/*teb product*/
.dv-tab-product {
    margin-top: 80px;
}

.dv-tab-product .nav-link {
    color: #9C9C9C;
    font-size: 16px;
    line-height: 21px;
    font-family: iranYekanBold;
}

.dv-tab-product .nav-link.active {
    background-color: #fff !important;
    color: #212121;
    font-size: 16px;
    line-height: 21px;
    font-family: iranYekanBold;
}

.dv-tab-product .nav-link.active::after {
    content: '';
    border-bottom: 3px solid var(--custom-orange);
    width: 100%;
    margin-top: .7em;
    display: block;
}

.dv-tab-p-description {
    background-color: #F6F7FB;
    font-size: 16px;
    line-height: 40px;
    color: #504e4e;
    padding: 0 10px 20px 10px;
}

.dv-the-first-comments {
    font-size: 16px;
    line-height: 21px;
    font-family: iranYekanBold;
    color: #212121;
}

.dv-product-quality {
    font-size: 14px;
    line-height: 19px;
    color: #212121;
}

.dv-comments-message .dv-comment-title, .dv-comments-message .comment {
    padding: 14px 11px;
    border: 1px solid #D8D8D8;
}

.dv-comments-message .dv-comment-title::placeholder, .dv-comments-message .comment::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #9C9C9C;
}


/*custom radio button*/
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #D8D8D8;
    border-radius: 25px;
    width: 100%;
}

.dv-icon-dislike:before {
    color: #9C9C9C;
}

.radio-toolbar input[type="radio"]:checked + label {
    border-color: #E89F71;
    color: #E89F71;
    background-color: #FFFFFF;
}

.radio-toolbar input[type="radio"]:checked + label .dv-icon-dislike:before {
    color: #E89F71;
}

.dv-icon-dislike, .dv-icon-like-buy-offer {
    font-size: 1.5em;
}

.dv-submit-a-comment {
    width: 100%;
    background-color: var(--custom-orange);
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 13px 0;
    border: none;
    transition: all .3s inherit;
}

.dv-submit-a-comment:hover {
    opacity: .8;
}

.star:before {
    content: "\e916";
    font-family: icomoon;
    font-size: 20px;
    position: relative;
    display: block;
    color: #F1CF4A;
}

 .star:after {
    content: "\e924";
    font-family: icomoon;
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #F1CF4A;
    opacity: 0;
}

.star-container .star:hover:after,
.star-container .star:hover ~ .star-container .star:after,
 .star.star__checked:after,
 .star.star__checked ~ .star:after {
    opacity: 1;
}


.dv-label {
    width: 18%;
    background-color: #F6F7FB;
    padding: 12px 15px;
}

.dv-product-specifications {
    width: 80%;
    background-color: #F6F7FB;
    padding: 12px 35px;
}

.dv-text-label, .dv-product-specifications {
    font-size: 14px;
    line-height: 19px;
    color: #212121;
    font-family: iranYekanBold;
}

.dv-product-specifications {
    font-family: iranYekan !important;
}

.dv-similar-products {
    font-size: 36px;
    line-height: 48px;
    color: #101750;
    margin-top: 100px;
    margin-bottom: 27px;
}

.dv-slider-similar-products .dv-original-price {
    color: var(--custom-orange);
}

.rules-for-writing-comments li {
    font-size: 14px;
    line-height: 35px;
    color: #212121;
}

.rules-for-writing-comments li::marker {
    color: #E89F71;
    font-size: 2em;
}

/*Rjdeveloper*/
.dv-custom-navbar {
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: 125px;*/
    z-index: 1;
}

.dropdown-toggle::after {
    margin: 0;
    border: none;
    font-family: icomoon;
    content: "\e910";
    font-size: 0.4em;
    font-weight: bold;
    color: #212121;
    margin-right: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.15em;
}

.dropdown-menu li a {
    padding: 10px;
}

.dropdown-menu[data-bs-popper] {
    left: -20%;
    border: none;
    box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.21);
}

.dropdown-menu li, .dropdown-menu li a {
    text-align: right;
}

.dv-user-dropdown .dropdown-toggle::after {
    display: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #1e2125;
    background-color: #e9ecef;
}

#navbarSupportedContent .dv-right-menu li {
    padding: 5px 40px;
}

.dropdown-menu li {
    padding: 0 !important;
}

.dv-user-dropdown .dropdown-menu {
    padding: 0 !important;
    z-index: 99;
}

.dv-user-dropdown li {
    padding: 5px !important;
}

.dv-user-dropdown a:not(.dropdown-item) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 !important;
    margin-left: 1.25em;
}

.dv-header-form {
    min-width: 300px;
    background: #fff;
}

.dv-header-form button, .dv-header-form input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.dv-header-form input {
    padding: 10px 0 10px 10px;
}

.dv-header-form button {
    padding: 10px 20px;
    transition: all 0.3s linear;
}

.dv-header-form button:hover {
    background: var(--custom-orange);
    margin-left: 1em;
}

.dv-header-form button span:before {
    transition: all 0.3s linear;
}

.dv-header-form button:hover span:before {
    color: #fff;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dv-header-icon a {
    padding: 0 !important;
}

.dv-header-icon a span:before {
    font-size: 1.5em;
    color: #262F56;
}

.dv-two-color-orange, .dv-two-color-orange2 {
    width: 100%;
    height: 490px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(252, 248, 243);
    background: linear-gradient(90deg, rgba(252, 248, 243, 1) 32%, rgba(249, 241, 231, 1) 32%);
}

.dv-two-color-orange2 {
    height: 700px;
}

.dv-header-icon:first-child {
    margin-left: 2em;
}

.dv-blog-top-banner-bg-image {
    background: url(../images/flower2-min.png) center no-repeat;
    background-size: 100% 100%;
    height: 342px;
    width: 100%;
    margin-top: 125px;
    position: absolute;
    top: 0;
}

.dv-search-title {
    font-size: 20px;
    color: #AFAFAF;
}

.dv-top-banner-form {
    background-color: #EEEEEE;
    height: 70px;
    padding: 20px 15px;
    border-radius: 5px;
}

.dv-top-banner-form button {
    background: transparent;
    border: none;
}

.dv-top-banner-form button span:before {
    color: #929292;
}

.dv-top-banner-form input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    width: 290px;
}

input:focus {
    background: transparent !important;
}

.dv-top-banner-form input::placeholder {
    color: #929292;
}

.dv-top-banner-social-link span:before {
    color: #AFAFAF;
    transition: all 0.3s linear;
    font-size: 1.5em;
}

.dv-top-banner-social-link:hover span:before {
    color: var(--custom-orange)
}

.dv-join-news {
    margin-right: 1em;
    background-color: var(--custom-orange);
    height: 70px;
    color: #fff;
    border-radius: 5px;
    padding: 20px 15px;
    font-size: 22px;
    transition: all 0.3s linear;
    border: none;
}

button:hover, a:hover {
    opacity: 0.85;
}

.dv-blog-top-banner-search-content {
    background: #fff;
    border-radius: 5px;
    padding: 30px 50px;
    position: absolute;
    bottom: -2.75em;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
}

.dv-top-custom-bg {
    background-color: var(--light-orange);
    width: 100%;
    height: 774px;
    position: absolute;
    z-index: 0;
}

.masonry {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em
}

.masonry .item {
    display: inline-block;
    padding: 1em 2em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.masonry .item img {
    max-width: 100%
}

/*.dv-images-masonry{*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden;*/
/*    height: 600px;*/
/*    width: 100%;*/
/*}*/
.dv-images-masonry .masonry {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em
}

.dv-images-masonry .masonry .item {
    display: inline-block;
    padding: 10px;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dv-images-masonry .masonry .item img {
    max-width: 100%
}

.text-gray {
    color: #AAAAAA;
}

.dv-blog-item-text {
    padding: 4em 1em;
}

.dv-blog-item-text h3 {
    font-size: 25px;
    font-family: iranYekanBold;
    line-height: 30px;

}

.dv-blog-item-username {
    line-height: 30px;
}

.dv-blog-item-icon {
    font-size: 3em;
}

.dv-blog-item-icon:before {
    opacity: 0.36;
}

.dv-blog-card, .dv-blog-card img {
    transition: all 0.3s linear;
}

.dv-blog-card:hover , .dv-card-cart:hover{
    -webkit-box-shadow: 0px 0px 18px 6px rgba(232, 159, 113, 0.7);
    -moz-box-shadow: 0px 0px 18px 6px rgba(232, 159, 113, 0.7);
    box-shadow: 0px 0px 18px 6px rgba(232, 159, 113, 0.7);
    border-radius: 10px;
}

.dv-card-cart:hover .dv-image-cart , .dv-card-cart:hover .dv-image-cart img{
    border-radius: 10px 10px 0 0;
}

.dv-blog-card:hover img {
    border-radius: 10px 10px 0 0;
}

.dv-blog-card .card-img-top {
    width: 100%;
    height: 245px;
    margin-bottom: 27px;
}

.dv-blog-card .card-body h6 {
    font-size: 25px;
    line-height: 50px;
}

.dv-blog-card .dv-more-three-dot {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 35px;
}

.f-14 {
    font-size: 14px;
    line-height: 24px;
}

.dv-blog-info-link {
    font-size: 14px;
    line-height: 30px;
    color: var(--custom-orange);
}

.dv-custom-pagination .dv-next-page-link span:before, .dv-custom-pagination .dv-previous-link span:before {
    color: #929292;
    font-size: 14px;
}

.dv-custom-pagination .page-item .page-link {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    margin: 0 5px;
    border-radius: 3px;
    color: #929292;
    font-size: 20px;
    padding: 0;
}

.dv-custom-pagination .page-item.active .page-link, .dv-custom-pagination .page-item:hover .page-link {
    background-color: var(--custom-orange);
    color: #fff;
}

.dv-custom-pagination .page-item:hover .dv-next-page-link span:before,
.dv-custom-pagination .page-item:hover .dv-previous-link span:before {
    color: #fff;
}

.dv-rotate-previous-link {
    transform: rotate(180deg);
}

.dv-footer-content {
    border-top: 1px solid #D8D8D8;
}

.dv-footer-links-list-item-title, .dv-footer-links-list-item-title a {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.dv-footer-links-list-link {
    font-size: 14px;
    line-height: 21px;
    color: #616161;
    transition: all 0.3s linear;
}

.dv-footer-links-list-link:hover {
    margin-right: 5px;
}

.dv-footer-social-media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.dv-footer-social-media:hover {
    transform: translateY(-5px);
}

.dv-footer-location-icon {
    font-size: 18px;
}

.dv-footer-location-text {
    font-size: 16px;
    line-height: 24px;
    color: #616161;
}

.dv-footer-news-title {
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-blue);
}

.dv-footer-email-input {
    background-color: #F4F5F7;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    box-shadow: none;
    outline: none;
    color: #212121;
}

.dv-footer-email-input:focus {
    background-color: #F4F5F7 !important;
}

.dv-footer-email-input::placeholder {
    color: #828282;
}

.dv-footer-submit-button {
    min-width: 45px;
    max-width: 45px;
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    height: 100%;
    border: none;
    background-color: var(--custom-orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

#blogContent {
    top: 490px;
    padding-bottom: 490px;
}

/************************ END Blog ***********************/

.dv-blog-info-top-bg-color {
    background-color: var(--light-orange);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 387px;
}

#blogInfo {
    position: relative;
    top: 130px;
    padding-bottom: 130px;
}

.dv-blog-info-top-image {
    height: 350px;
    width: 100%;
}

#blogInfo p {
    color: #273043;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 1em;
}

.dv-blog-info-tail-images {
    height: 246px;
    margin-bottom: 1em;
}

.dv-blog-info-content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************************ END Blog Info ***********************/

.dv-content-on-two-color {
    position: relative;
    top: 140px;
    padding-bottom: 140px;
}

.dv-cart-product-content {
    background: #fff;
    border: 2px solid rgba(232, 159, 113, 0.71);;
    border-radius: 10px;
    padding: 35px;
    width: 100%;
    overflow-x: auto;
    height: 100%;
}

.dv-cart-product-table tr th, .dv-cart-price-table tr td {
    min-width: 150px;
    border-bottom: 1px solid #F2C6AA;
    border-left: 1px solid #F2C6AA;
    height: 45px;
    text-align: center;
    vertical-align: text-top;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-blue);
}

.dv-cart-product-table tr th:last-child, .dv-cart-product-table tr th:first-child,
.dv-cart-product-table tr td:last-child, .dv-cart-product-table tr td:first-child {
    border-left: 0;
}

.dv-cart-product-table tr th:first-child, .dv-cart-product-table tr:last-child td {
    border-bottom: 0;
}

.dv-cart-product-table tr td {
    border-bottom: 1px solid #F2C6AA;
    border-left: 1px solid #F2C6AA;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-blue);
}

.dv-cart-price-table tr th:first-child {
    border-bottom: 1px solid #F2C6AA;
    border-left: 1px solid #F2C6AA;
}

.dv-cart-price-table tr td:first-child {
    border-left: 1px solid #F2C6AA;
}

.dv-cart-price-table tr td {
    vertical-align: middle;
}

.dv-cart-product-img {
    width: 197px;
    height: 215px;
}

.dv-product-table-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #151875;
}

.dv-cart-trash-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.dv-cart-price-table {
    width: 60%;
}

.dv-cart-price-button {
    width: 40%;
}

.dv-pay-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: auto;
    background: #36425C;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF !important;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 55px;
    transition: all 0.3s linear;
}

.dv-show-more-products {
    padding: 15px;
    border: 1px solid #36425C;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 28px;
    color: #4F4D4D;
    font-weight: bold;
    transition: all 0.3s linear;
}

.dv-show-more-products:hover {
    background-color: #36425C;
    color: #fff;
}

.dv-product-count {
    background: #2B354B;
    border-radius: 5px;
    width: 128px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dv-product-count-icon {
    width: 38px;
    height: 38px;
    background: #36425C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.dv-product-count-number {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}

.dv-cart-address-title {
    font-size: 20px;
    line-height: 35px;
    color: var(--dark-blue);
}

.dv-cart-from-label-span {
    margin-bottom: 0.5em;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-blue);
}

.dv-cart-form-label-input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-blue);
}

.dv-cart-form-label-input:focus {
    border-color: var(--custom-orange);
}

.dv-cart-form-label-input::placeholder {
    color: #626262;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 63px;
    padding: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dv-cart-left-content-image {
    width: 100px;
    height: 100px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.dv-custom-badge {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background: #36425C;
}

.dv-left-content-after-image {
    width: calc(100% - 110px);
}

.dv-custom-hr {
    color: var(--custom-orange);
    margin: 2em 0;
}

.dv-factor-title, .dv-cart-product-price {
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-blue);
}

.dv-address-icon:before {
    font-size: 24px;
    color: var(--custom-orange);
}

.dv-user-name-title {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-blue);
}

/************************ END Cart ***********************/

.dv-contact-us-description {
    line-height: 28px;
    color: var(--dark-blue);
    width: 75%;
}

.dv-information-content {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 16px 24px;
    width: 100%;
    min-height: 115px;
}

.f-20 {
    font-size: 20px;
}

.dv-contact-us-information-image {
    height: 500px;
    margin-top: 1em;
    margin-bottom: 80px;
}

#contact_location {
    height: 374px;
}

.dv-form-submit-content {
    background-color: #F9F1E7;
    width: 100%;
    padding: 80px 0;
    margin: 80px 0;
}

.dv-contact-us-form {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 50px 80px;
}

.dv-about-us-submit-btn {
    width: 141px;
    height: 50px;
    border: none;
    background: #E89F71;
    color: #fff;
    line-height: 28px;
    border-radius: 5px;
    margin-right: auto;
}

.dv-custom-contact-us-tab .nav-item.show .nav-link,
.nav-tabs .nav-link.active, .dv-custom-contact-us-tab .nav-link:hover {
    background: var(--custom-orange);
    border: 2px solid var(--custom-orange);
    color: #fff;
}

.dv-custom-contact-us-tab .nav-link {
    border: 2px solid var(--custom-orange);
    line-height: 28px;
    text-align: center;
    color: #524E4E;
    width: 180px;
    height: 60px;
    margin: 0 1.5em;
    transition: all 0.3s linear;
}

.dv-custom-contact-us-tab-content .accordion-button::after {
    margin-right: auto;
    margin-left: 0;
    font-family: icomoon;
    content: "\e901";
    color: var(--custom-orange);
    font-size: 1.5em;
    background-image: none;
    background-repeat: unset;
    background-size: unset;
    transition: transform .2s ease-in-out;
    padding-right: 1em;
}

.dv-custom-contact-us-tab-content .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: unset;
    font-family: icomoon;
    content: "\e900";
    color: var(--custom-orange);
    font-size: 1.5em;
    padding-right: 1em;
}

.accordion-item {
    border: 1px solid var(--custom-orange);
    padding: 30px 0;
}

.dv-custom-contact-us-tab-content .accordion-button:not(.collapsed) {
    color: var(--dark-blue);
    font-weight: bold;
    background-color: unset;
    box-shadow: unset;
}

.dv-custom-contact-us-tab-content .accordion-button {
    text-align: right;
}

.dv-custom-contact-us-tab-content .accordion-button:focus {
    background-color: unset;
    box-shadow: unset;
    border-color: unset;
}

.dv-custom-contact-us-tab-content .accordion-body {
    width: 90%;
}

.dv-custom-contact-us-tab-content .accordion-body p {
    line-height: 25px;
}

/************************ END Contact us ***********************/

.dv-show-all-product-button {
    width: 288px;
    height: 85px;
    background-color: var(--custom-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    z-index: 2;
}

.dv-show-all-product-button span , .dv-show-all-product-button span:before{
    color: #fff !important;
}

.dv-top-swiper-button{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: 3em;
    z-index: 2;
}
/************************ Media Query ***********************/
/*Max-Width*/

@media (max-width: 1400px) {
    #navbarSupportedContent .dv-right-menu li {
        padding: 5px 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

    .fa-like-product-span{
        font-size: 14px;
    }

    .dv-join-news, .dv-search-title {
        font-size: 18px;
    }

    .dv-top-banner-form input {
        width: 250px;
    }
}

@media (max-width: 1200px) {

    .dv-custom-navbar {
        background-color: #fcf9f4 !important;
    }

    .dv-blog-top-banner-bg-image {
        margin-top: 100px;
    }

    #blogTopBanner {
        height: 460px;
    }

    .dv-blog-top-banner-search-content {
        padding: 20px 30px;
    }

    .dv-top-banner-form {
        height: 60px;
        padding: 10px;
    }

    .dv-join-news {
        height: 60px;
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 992px) {
    .dv-swiper-product .swiper-wrapper {
        flex-direction: row !important;
    }

    .dv-custom-contact-us-tab .nav-link {
        width: 120px;
        height: 40px;
        margin: 0 1em;
    }

    .dv-blog-info-tail-images {
        height: 230px;
        margin-bottom: 1em;
    }

    .masonry {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .dv-blog-top-banner-search-content {
        width: 90%;
        padding: 20px 15px;
    }

    .dv-top-banner-form {
        height: 50px;
    }

    .dv-join-news {
        height: 50px;
    }
}

@media (max-width: 768px) {

    .fa-like-product-span{
        font-size: 14px;
    }
    .dv-refuse-to-buy, .dv-buy-offer {
        padding: 6px 9px;
    }

    .dv-contact-us-information-image {
        margin-bottom: 40px;
    }

    .accordion-item {
        padding: 20px 0;
    }

    .dv-custom-contact-us-tab-content {
        margin: 40px 0;
    }

    .dv-custom-contact-us-tab .nav-link {
        width: 120px;
        height: 40px;
        margin: 0.5em;
    }

    .dv-contact-us-description {
        width: 100%;
    }

    .dv-cart-price-button {
        margin-right: 2em !important;
    }

    .dv-cart-price-table {
        width: 100%;
        margin-bottom: 1em;
    }

    .dv-cart-price-button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .dv-swiper-product .swiper-slide, .dv-swiper-product .swiper-slide img {
        width: 70px !important;
        height: 70px !important;
    }

    .dv-label, .dv-product-specifications {
        padding: 12px 3px;
    }

    .dv-tab-product .nav-link, .dv-tab-product .nav-link.active {
        font-size: 13px;
    }

    .radio-toolbar label {
        padding: 10px 5px;
    }

    .accordion-item {
        padding: 10px 0;
    }

    .dv-contact-us-form {
        padding: 20px;
    }

    .dv-contact-us-description {
        text-align: justify;
    }

    .dv-form-submit-content {
        padding: 40px 0;
        margin: 40px 0;
    }

    .dv-contact-us-information-image {
        height: 450px;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .container {
        padding: 0 15px !important;
    }

    .dv-show-more-products {
        width: 100%;
        display: block;
        text-align: center;
    }

    .masonry .item {
        padding: 0;
    }

    .dv-search-title {
        font-size: 16px;
    }

    .dv-join-news {
        font-size: 14px;
    }

    .masonry {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/*Min-Width*/
@media (min-width: 1480px) {

    .dv-contact-us-information-image {
        height: 548px;
    }

    .dv-cart-product-table tr th, .dv-cart-price-table tr td {
        min-width: 195px;
    }

    /*font-size : 16px*/
    .dv-footer-links-list-link, .dv-custom-badge, .dv-user-name-title {
        font-size: 16px;
    }

    /*font-size : 18px*/
    p, .dv-footer-email-input, .dv-footer-location-text,
    .dv-cart-form-label-input, .dv-cart-from-label-span,
    .dv-factor-title, .dv-cart-product-price {
        font-size: 18px;
        line-height: 28px;
    }

    /*font-size : 20px*/
    .dv-footer-location-icon {
        font-size: 20px;
    }

    /*font-size : 22px*/
    .dv-footer-links-list-item-title, .dv-footer-links-list-item-title a {
        font-size: 22px;
    }
}

/*device size < lg*/
@media (min-width: 1200px) {
    .dv-custom-navbar {
        background: transparent !important;
    }
}

@media (min-width: 992px) {
    .dv-swiper-product .swiper-wrapper {
        justify-content: space-around !important;
    }

    .dv-tab-p-description {
        padding: 20px 20px 80px 20px;
    }
}

@media (min-width: 767px) {

    .dv-custom-contact-us-tab-content {
        margin: 80px 0;
    }

    .dv-information-content {
        width: 355px;
    }

    .dv-information-content:nth-child(even) {
        margin-right: 4em;
    }

    .dv-header-form {
        min-width: 380px;
    }

    .dv-contact-us-information-image {
        margin-top: 5em;
    }
}